// :deep(.ant-form) {
//   width: 400px;

//   .ant-col {
//     width: 100%;
//   }

//   .ant-form-item-label {
//     padding-right: 6px;
//   }
// }
.micro-login-box {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: url("~@/assets/images/background.svg");
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // .login-box {
  //   display: flex;
  //   margin-bottom: 30px;
  //   align-items: center;

  //   .svg-icon {
  //     font-size: 48px;
  //   }
  // }
}